html {
    /*font-family: 'Roboto Mono', sans-serif;*/
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    position: relative;
    overflow-x: hidden;
}


body{
    margin: 0 0 0 0;
}


a {
    text-decoration: none;
}